<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width" />
        <meta property="author" content="Samuel González Izquierdo - babytruckdriver@gmail.com">
        <link rel="stylesheet" href="stylesheets/style.css">
        <!--script data-main="javascripts/main" src="javascripts/require.js"></script-->
        <!--link rel="icon" href="images/favicon.png" type="image/png" /-->
</head>

<body id="spacedRep">
        <article class="app-header">
                <a href="#">
                        <span class="app-title">SpacedRep</span>
                </a>
        </article>

        <main>
                <nav>

                        <span class="arrow">&#59226;</span>
                </nav>
                <section>
                        <article id="mesa">

                        </article>
                </section>
        </main>

        <footer>
                <ul id="social">
                  <a href="http://www.twitter.com/babytruckdriver" class="icon-social-twitter">
                    <li class="hide">Twitter</li>
                  </a>
                  <a href="https://github.com/babytruckdriver/" class="icon-social-github">
                    <li class="hide">GitHub</li>
                  </a>
                </ul>
        </footer>

<script src="javascripts/vendor/jquery-2.1.1.js"></script>
<script src="javascripts/clientApp.js"></script>
</body>
</html>
