/*
    Estilos globales
*/

html {
        margin: 0;
        padding: 0;
        background: #fff;
}

body {
        position: relative;
        font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.4em;
        background: #eeeeee;
        color: #333333;
        max-width: 640px;
        margin: 0 auto; /* Centra horizontalmente */

        padding: 20px;
        margin-bottom: 40px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 2px;
        border-radius: 0 0 5px 5px;
        border-bottom: 10px;
}

/* Quito los estilos por defecto de las listas desordenadas*/

ul {
        list-style-type: none;
        /* Quita las tabulaciones por defecto de las listas */
        margin: 0;
        padding: 0;
}

ul > li {
        text-align: left;
}

/* Quito los estilos por defecto que pudieran tener los links*/

a:link,:visited {
        text-decoration: none;
        border: none;
        color: #000;
}

/*
    Estilos específicos de la aplicación
*/

/* Cabecera */

.app-header {
        /*display: inline-block; /* para poderlo centrar */
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        padding: 15px 20px 20px;

        /*transition: transform 1s;*/
}

/*.app-header:hover {
        transform: skewX(10deg);
}*/

.app-title {
        font-size: 3em;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.3);
        text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
        background: url("/images/favicon.png") no-repeat;
        background-size: contain;
        padding-left: 70px;
}

.login-tag {
        position: absolute;
        top: 0;
        right: 20px;
        color: #b4b4b4;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 2px;
        border-radius: 0 0 5px 5px;

        padding: 8px;
        font-size: .8em;
        font-weight: bold;
}

.login-tag > input {
        line-height: .5em;
        color: grey;
        font-size: 1em;
        width: 100px;
        margin: 0 5px;
}


/* Cuerpo de la aplicación */

/* Fuentes e estilos generales para iconos */

@font-face {
        font-family: "entypo";
        src: url("../fonts/Entypo/entypo.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}

[class*="icon-"] {
        background-image: none;
        font-size: 1em;
        font-style: normal !important;
        font-weight: normal !important;
        height: 1em;
        overflow: visible;
        width: 1em;
}

[class*="icon-"]::before {
        content: '+';
        font-family: "entypo", fantasy !important;
        /*line-height: 1;*/
        position: relative;
        top: 2px;
}

[class*="icon-"]:hover {
        opacity: .5;
}

[class*="icon-"]:active {
        opacity: .3;
}


main {
        position: relative;
        top: 0;
        left: 0;
        height: 350px;
        margin-bottom: 20px;
}

main > div {
        float: left;
}

/* Menú */

#menu-layer {
        z-index: 100;
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 10px;
        border-radius: 3px;
        background: linear-gradient(to bottom, #eeeeee, #b4b4b4, #eeeeee);

        transition: width 1s, box-shadow 1s;
}

#menu-layer:hover {
        width: 140px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#menu-layer > div{
        margin-top: 15px;
        margin-left: 10px;
        cursor: pointer;
}

.icon-menu-preferences::before {
        content: "\2699";
}

.icon-menu-decks::before {
        content: "\E800";
}

[class*="icon-menu"]::before {
        font-size: 3em;
        padding-right: 5px;
}

.arrow {
        display: inline-block;
        position: relative;
        top: 50%;
        float: right;
        left: 10px;

        font-family: "entypo", fantasy !important;
        font-size: 4em;
        font-style: normal !important;
        font-weight: normal !important;

        cursor: pointer;
        opacity: .7;
}

/* Mesa */

#main-layer {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        box-sizing: border-box;
        padding: 0 0 0 50px;

        color: grey;
}

/* Botones de acción //TODO: estos deberían modificarse dependiando de la vista (ej: en preferences botón save o cancel */
#actions-layer {
        position: absolute;
        right: 20px;
        bottom: 0;
        padding: 10px 20px; /* Arriba-abajo derecha-izquierda*/

        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 2px;
        border-radius: 5px 5px 5px 5px;
}

#actions-layer > span {
        height: 100%;
        width: 100%;

        cursor: pointer;
}

.icon-action-save::before {
        content: "\1F4BE";
}

.icon-action-cancel::before {
        content: "\2716";

}

.icon-action-play::before {
        content: "\25B6";

}

.icon-action-pause::before {
        content: "\2016";

}

.icon-action-stop::before {
        content: "\25A0";

}

[class*="icon-action"]::before {
        font-size: 3em;
        padding-right: 5px;
}

/* Pié de página */

@font-face {
        font-family: "entypoSocial";
        src: url("../fonts/Entypo/entypo-social.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}

#social {
        margin: 15px 5px 5px 5px;
        padding: 5px;
        /*background: linear-gradient(to right,rgba(255, 99, 71, 0.5), rgba(0, 255, 255, 0.5), rgba(144, 238, 144, 0.5));*/
        background: linear-gradient(to right, rgba(189, 42, 51, 0.75), rgba(214, 170, 38, 0.5), rgba(147, 163, 28, 0.5), rgba(64, 129, 86, 0.5), rgba(48, 55, 79, 0.5));
        border-radius: 4px;
}

[class*="icon-social"]::before {
        font-family: "entypoSocial", fantasy !important;
        /*line-height: 1;*/
        position: relative;
        top: 2px;
        opacity: .6;
}

[class*="icon-social"]:hover::before {
        opacity: .3;
}

[class*="icon-social"]:active::before {
         color: rgba(0,0,0,.5);
}

.icon-social-twitter::before {
        content: "\F309";
        font-size: 3em;

}

.icon-social-github::before {
        content: "\F300";
        font-size: 3em;
}

.icon-social-500px::before {
        content: "\F32D";
        font-size: 3em;
}

.hide {
        clip: rect(1px, 1px, 1px, 1px);
        height: 0;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        width: 0;
}

